@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

/* Fonte base */
body {
    font-family: 'Poppins', sans-serif;
}

/*
   NAVBAR
*/
.custom-navbar {
    background-color: #FFD42A;
    height: 10vh;
    border-radius: 4px;
}

/*
   LOGO
*/
.navbar-logo {
    max-height: 55px;
}

/*
   SEARCH (CENTRO REAL)
*/

.custom-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;

    width: 50%;
    max-width: 600px;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 4px 6px;
}

/* input da busca */
.custom-search-input {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

/* botão da busca */
.search-btn {
    background-color: #2FAF9B;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 8px;
}

/*
   LINKS (DIREITA)
*/
.custom-navbar .nav-link {
    color: #000000;

}
.custom-navbar .nav-link:hover {
    opacity: 0.8;
}

/*
   DROPDOWN
*/
.custom-navbar .dropdown-menu {
    background-color: #1f1f1f;
    border-radius: 4px;
}

.custom-navbar .dropdown-menu .dropdown-item {
    color: #fff;
}

.custom-navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/*
   CARRINHO
*/
.cart-icon {
    width: 31px;
    margin-top: -2px;
}

/*
   RESPONSIVIDADE
*/
@media (max-width: 992px) {
    .custom-search {
        position: static;
        transform: none;
        width: 100%;
        margin: 10px 0;
    }

    .custom-navbar {
        height: auto;
    }
}
