html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    box-sizing: border-box;
    border: 1px solid #292929;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #292929;
    text-align: center;
}

.login-box .input-group {
    margin-bottom: 20px;
}

.login-box .input-group label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #292929;
}

.login-box .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.login-box .btn-primary {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 50px;
    color: #292929;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #555;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #aaa;
}

.divider span {
    padding: 0 10px;
    font-size: 14px;
}

.login-box .btn-secondary {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #B3FF80;
    border: 1px solid #B3FF80;
    border-radius: 50px;
    color: #292929;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.error-box {
    min-height: 1.5rem;
    min-width: 1.5rem;
}